<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<link href="<%= url 'reset.css' %>" media="screen" rel="stylesheet" type="text/css">
<link href="<%= url 'style.css' %>" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src='<%= url 'dashboard.js' %>'></script>
<title>Event Tracker</title>

</head>
<body>
  <div class="header">
    <h1>Event Tracker Dashboard</h1>
  </div>

  <div id="main">
    <%= yield %>
  </div>

  <div id="footer">
    <p>Powered by <a href="http://github.com/jaywengrow/eventy">Eventy</a> v<%=Eventy::VERSION %></p>
  </div>
</body>
</html>